<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-3">Name: </div>
        <div class="col-md-6">{{showComic.name}}</div>

        <div class="col-md-3">Code: </div>
        <div class="col-md-6">{{showComic.code}}</div>

        <div class="col-md-3">Price: </div>
        <div class="col-md-6">{{showComic.price}}</div>

        <div class="col-md-3">Rating: </div>
        <app-star class="col-md-6" [rating]='showComic.starRating' ></app-star>

        <img
              [src]='showComic.imageUrl'
              [style.width.px]='100'
              [style.margin.px]='4'>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <a class="btn btn-default" (click)="onBack()" style="width:80px">
      <i class="glyphicon glyphicon-chevron-left">Back</i>
    </a>
  </div>
</div>