<div class="container-fluid detail">
	<div class="container pb-5">
		<div class="row align-items-center">
			<div class="col-lg-10">
				<h1 class="panel-heading">
					{{pageTitle}}
				</h1>
			</div>
			<div class="col-lg-2">
				<div class="panel-footer text-lg-right text-md-right">
					<a class="btn btn-default" [routerLink]="['/listing']" style="width:80px">
						<i class="fas fa-chevron-left"></i> Back
					</a>
				</div>
			</div>
		</div>
		<hr>
		<div>
			<div class="row mt-5">
				<aside class="col-sm-5">
					<article class="gallery-wrap">
						<div class="img-big-wrap" *ngIf="id != 0">
							<img [src]='showComic.imageUrl' class="img-thumbnail img-fluid">
						</div> <!-- slider-product.// -->
					</article> <!-- gallery-wrap .end// -->
				</aside>
				<aside class="col-sm-7">
					<article class="card-body p-5">
						<h2 class="title mb-3" *ngIf="!formview && id > 0">{{showComic.title}}</h2>
						<div class="input-group mb-3" *ngIf="formview || id == 0">
							<input type="text" class="form-control" [(ngModel)]='showComic.title' placeholder="Title" aria-label="Title"
							 aria-describedby="basic-addon1">
						</div>
						<div *ngIf="!formview && id > 0">
							<p class="price-detail-wrap">
								<span class="price h3 text-warning">
									<span class="currency"></span><span class="num">${{showComic.price}}</span>
								</span>
							</p> <!-- price-detail-wrap .// -->
						</div>
						<div class="input-group mb-3" *ngIf="formview || id == 0">
							<!-- <dl>
								<dt>Price</dt>
								<dd> -->
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input type="text" class="form-control" [(ngModel)]='showComic.price' aria-label="Amount (to the nearest dollar)">
							<div class="input-group-append">
								<span class="input-group-text">.00</span>
							</div>
							<!-- </dd>
							</dl> -->
						</div>
						<app-star *ngIf="!formview && id > 0" [rating]='showComic.starRating'></app-star>
						<div class="input-group mb-3" *ngIf="formview || id == 0">
							<input type="text" class="form-control" [(ngModel)]='showComic.starRating' placeholder="Stars" aria-label="Stars"
							 aria-describedby="basic-addon1">
						</div>
						<dl class="item-property" *ngIf="!formview && id > 0">
							<dt>Description</dt>
							<dd>
								<p>{{showComic.description}}</p>
							</dd>
						</dl>
						<dl *ngIf="formview || id == 0">
							<dt>Description</dt>
							<dd>
								<textarea class="form-control" [(ngModel)]='showComic.description' aria-label="With textarea"></textarea>
							</dd>
						</dl>
						<dl class="param param-feature" *ngIf="!formview && id > 0">
							<dt>Author#</dt>
							<dd>{{showComic.author}}</dd>
						</dl>
						<dl class="param param-feature" *ngIf="formview || id == 0">
							<dt>Author#</dt>
							<dd>
								<input type="text" class="form-control" [(ngModel)]='showComic.author' placeholder="author" aria-label="author"
								 aria-describedby="basic-addon1">
							</dd>
						</dl>
						<dl class="param param-feature" *ngIf="!formview">
							<dt>Public Date</dt>
							<dd>{{showComic.publishDate | date}}</dd>
						</dl> <!-- item-property-hor .// -->

						<hr>
						<button class="btn btn-lg btn-primary text-uppercase" *ngIf="formview || id == 0"> Confirm </button>
						<button class="btn btn-lg btn-primary text-uppercase" (click)="changeFormView()" *ngIf="!formview && id > 0 ">
							Edit </button>
						<button class="btn btn-lg btn-outline-primary text-uppercase ml-3" (click)="changeFormView()" *ngIf="formview && id > 0 ">
							Cancel </button>
					</article> <!-- card-body.// -->
				</aside> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->


	</div>
</div>