<!-- <button type="button" class="btn btn-success" (click)="test()">Success</button> -->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center" *ngIf="flag">
  <h1>
    {{ testing.name }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<!-- <app-comic-list></app-comic-list> -->


<div>
	<!-- <nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand">Comic Store</a>
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/comic']">Comic List</a></li>
			</ul>
		</div>
	</nav> -->
	<div class="nav-menu fixed-top bg-gradient">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="navbar navbar-dark navbar-expand-lg">
						<a class="navbar-brand" href="index.html">ComicStore</a>
						<div class="collapse navbar-collapse" id="navbar">
						  <ul class="navbar-nav ml-auto">
							  <li class="nav-item"> <a class="nav-link active" [routerLink]="['/comic']">COMIC LIST <span class="sr-only">(current)</span></a> </li>
							  <!-- <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
							  <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
							  <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li>
							  <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li> -->
							  <li class="nav-item"><a href="#" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
						  </ul>
					  </div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<router-outlet></router-outlet>
		asdsadasdasdsa
		asdsadasdasdsaasdasd
		asdasdasdasdasdasdasd
	</div>
</div>