<div>
	<!-- <nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand">Comic Store</a>
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/comic']">Comic List</a></li>
			</ul>
		</div>
	</nav> -->
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Comic Store</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/comic']">Comic List</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
	<header class="masthead text-center text-white">
		<div class="masthead-content">
			<div class="container">
				<h1 class="masthead-heading mb-0">One Page Wonder</h1>
				<h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
			</div>
		</div>
	</header>

	<!-- Footer -->
	<footer class="py-5 bg-black">
		<div class="container">
			<p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
		</div>
		<!-- /.container -->
	</footer>
</div>