<div class="container-fluid listing">
	<div class="container">
		<div class="panel panel-primary pb-5">
			<h1 class="panel-heading mb-5">
				{{pageTitle}}
			</h1>
			<div class="panel-body">
				<div class="row mb-3">
					<div class="col-md-6">
						<h3>Filtered by: {{ listFilter }}</h3>
					</div>
					<div class="col-md-6 text-lg-right text-md-right">
						Filter by:
						<input type="text" [(ngModel)]='listFilter' />
					</div>
				</div>

				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">
									<button class="btn btn-primary" (click)="showComicImage()">{{ buttonLabel }}</button>
								</th>
								<th>Comic</th>
								<th>Code</th>
								<th>Price</th>
								<th>5 Star Rating</th>
							</tr>
						</thead>
						<tbody *ngFor="let comic of comicList | comicFilter:listFilter">
							<td>
								<!-- <img *ngIf="showImage" [src]='comic.imageUrl' [title]='comic.name' [style.width.px]='imageWidth'
								 [style.margin.px]='imageMargin'> -->
								 <a href="#" *ngIf="showImage">
									 <div  class="ratio img-responsive img-circle" [ngStyle]="{'background-image': 'url(' + comic.imageUrl + ')'}"></div>
								 </a>
							</td>
							<td>
								<a [routerLink]="['/comic', comic.id]">
									{{comic.name}} ({{comic.id}})
								</a>
							</td>
							<td>{{comic.code}}</td>
							<td>{{comic.price}}</td>
							<td>
								<app-star [rating]='comic.starRating' (ratingClicked)='onRatingClicked($event)'></app-star>
							</td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
